Repository varholak-peter/strv-gatsby-netlify-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "stylelint",
    "git add"
  ],
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ]
}

code quality
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

styled components
  .eslintrc.js
  gatsby-config.js
  package.json
  src/cms/preview-templates/IndexPagePreview.tsx
  src/components/Layout/index.tsx
  src/styles/colors.ts
  src/styles/global.ts
  src/styles/index.ts
  src/templates/index.tsx
  src/views/Index/index.tsx
  src/views/Index/styled.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

jest
  jest.config.js
  package.json
  src/views/Index/index.test.tsx
  tsconfig.jest.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

cypress
  .eslintrc.js
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/examples/homepage.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/pages/index.md
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

dependabot
  .dependabot/config.yml
  .github/workflows/push.yml
  package.json
  src/templates/404.tsx
  src/views/Index/index.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
Due: prettier --write

cleanup
  gatsby-config.js
  lambda/hello.js
  renovate.json
  src/img/.gitkeep
  src/img/icon.png
Due: eslint --fix, prettier --write, stylelint

title helmet
  package.json
  src/components/Layout/index.tsx
  src/views/Index/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint

readme
  README.md
Due: prettier --write

fix push action
  .github/workflows/push.yml
Due: none

Add Dependabot badge
  README.md
Due: prettier --write
